.mySwiper .swiper-slide {
  opacity: 0.6;
  transform: scale(0.85);     /* left/right chhote honge */
  transition: all 0.3s ease;
}

.mySwiper .swiper-slide-active {
  opacity: 1;
  transform: scale(1);        /* center full size */
}